.brief {
  padding: 56px 100px;
  background: #f9f9f9;
}
.brief p {
  color: var(--Foundation-Nuetral-nuetral-900, #373940);
  font-family: Paris2024-Variable;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
}
.brief h1 {
  color: var(--Foundation-Primary-primary-500, #0e842c);
  -webkit-text-stroke-width: 0.20000000298023224;
  -webkit-text-stroke-color: var(--Foundation-Primary-primary-500, #0e842c);
  font-family: Paris2024-Variable;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 118.75% */
  margin-bottom: 24px;
}
.governor {
  padding: 56px 100px;
  background-color: #fff;
}
.governor h1 {
  margin-bottom: 20px;
  color: var(--Foundation-Primary-primary-500, #0e842c);
  -webkit-text-stroke-width: 0.20000000298023224;
  -webkit-text-stroke-color: var(--Foundation-Primary-primary-500, #0e842c);
  font-family: Paris2024-Variable;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 118.75% */
  text-align: center;
}
.speech-pic {
  display: flex;
  align-items: center;
  gap: 45px;
}
.speech-pic div h3 {
  color: var(--Foundation-Primary-primary-500, #0e842c);
  -webkit-text-stroke-width: 0.20000000298023224;
  -webkit-text-stroke-color: var(--Foundation-Primary-primary-500, #0e842c);
  font-family: Paris2024-Variable;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 158.333% */
}
.speech-pic div h4 {
  color: var(--Foundation-Primary-primary-500, #0e842c);
  -webkit-text-stroke-width: 0.20000000298023224;
  -webkit-text-stroke-color: var(--Foundation-Primary-primary-500, #0e842c);
  font-family: Paris2024-Variable;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 190% */
}
.speech-pic div p {
  color: var(--Foundation-Nuetral-nuetral-900, #373940);
  font-family: Paris2024-Variable;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px; /* 215% */
  margin-bottom: 16px;
}
.speech-pic img {
  border-radius: 20px;
}

.mission {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  justify-content: center;
  gap: 32px;
  padding: 48px;
}

.mission-card {
  height: 335px;
  width: 395px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 18px 40px 0px rgba(112, 144, 176, 0.12);
}
.mission-card h2 {
  color: var(--Foundation-Primary-primary-500, #0e842c);
  text-align: center;
  font-family: Paris2024;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 31.2px */
}
.mission-card p {
  color: var(--Secondary-Color-Black, #101010);
  text-align: center;
  font-family: Paris2024-Variable;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%; /* 31.5px */
  letter-spacing: 0.5px;
}
.about-cards {
  padding: 56px 100px;
  gap: 22px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff;
}
.about-cards img {
  width: 100%;
  height: 418px;
  margin-bottom: 16px;
  border-radius: 20px;
}
.about-cards div h3 {
  color: var(--Foundation-Primary-primary-500, #0e842c);
  text-align: center;
  -webkit-text-stroke-width: 0.20000000298023224;
  -webkit-text-stroke-color: var(--Foundation-Primary-primary-500, #0e842c);
  font-family: Paris2024-Variable;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 158.333% */
}
.about-cards div h4 {
  color: var(--Foundation-Primary-primary-500, #0e842c);
  -webkit-text-stroke-width: 0.20000000298023224;
  -webkit-text-stroke-color: var(--Foundation-Primary-primary-500, #0e842c);
  font-family: Paris2024-Variable;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 190% */
  text-align: center;
}
.gallery {
  background-color: #fff;
  padding-top: 56px;
}
.gallery h1 {
  color: var(--Foundation-Primary-primary-500, #0e842c);
  -webkit-text-stroke-width: 0.20000000298023224;
  -webkit-text-stroke-color: var(--Foundation-Primary-primary-500, #0e842c);
  font-family: Paris2024-Variable;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 118.75% */
  text-align: center;
  margin-bottom: 24px;
}
.gallery-grid {
  padding: 48px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}
.image-column {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.image-column img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

@media screen and (max-width: 1290px) {
    .speech-pic img{
    width: 50%;
  }
  .about-cards img{
    height: 350px !important;
  }
}

@media screen and (max-width: 900px) {
  .brief {
    padding: 42px;
  }
  .governor {
    padding: 42px;
  }
  .speech-pic {
    gap: 32px;
    flex-direction: column;
  }

  .about-cards {
    padding: 42px;
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery-grid {
    padding: 42px;
  }
    .speech-pic img{
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .gallery-grid,
  .about-cards {
    grid-template-columns: 1fr;
    padding: 42px 28px;
  }
  .brief,
  .governor {
    padding: 42px 28px;
  }
  .mission{
    flex-direction: column;
  }

}
