@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animated-text {
    font-weight: bold;
    background: linear-gradient(90deg, #7D7D7D, #3d3d3d);
    font-family: "Crimson Pro", serif;
    background-size: 300% 300%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradient-animation 2.5s ease-in-out infinite;
}