.hero-wrap {
  position: relative;
  height: 704px;
}
.hero-wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-section {
  padding: 40px 0 42px 0;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.40) 65.67%, rgba(250, 215, 12, 0.40) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 704px;
}
.hero-section h1 {
  text-align: center;
  -webkit-text-stroke-width: 3;
  -webkit-text-stroke-color: #000;
  font-family: Paris2024-Variable;
  font-size: 102px;
  font-style: normal;
  font-weight: 600;
  line-height: 137px; /* 134.314% */
  letter-spacing: 8.22px;
  background: linear-gradient(180deg, #fddb0a 0%, #0e842c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-top: 32px;
}
.national-p {
  color: #fddb0a;
  text-align: center;
  font-family: Paris2024-Variable;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 72.917% */
  text-transform: capitalize;
  margin-top: 16px;
}
.ipinle {
  margin-top: 72px;
}
.hero-img {
  margin-bottom: 20px;
}
.quest-wrap {
  display: flex;
  flex-direction: column;
  gap: 46px;
}
.featured {
  padding: 56px 100px;
  background: #fff;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 56px;
}
.featured h1 {
  color: #262626;
  -webkit-text-stroke-width: 0.20000000298023224;
  -webkit-text-stroke-color: #000;
  font-family: Paris2024-Variable;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 118.75% */
}
.sport-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.sport-grid div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.sport-grid div img {
  width: 100%;
  height: 100%;
}
.sport-video {
  width: 100%;
  padding: 0;
  margin: 0;
}
.whats-new {
  background: #f7f7f8;
}
.whats-new h1 {
  padding: 56px 100px;
  color: #262626;
  font-family: Paris2024-Variable;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 118.75% */
  background-color: #fafafa;
}

.new-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 32px 100px 32px 0;
}
.new-wrap img {
  border-radius: 6px;
}
.new-wrap-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.new-big {
  position: relative;
}
.new-big div h2 {
  color: #fff;
  font-family: "DM Sans";
  font-size: 28.231px;
  font-style: normal;
  font-weight: 430;
  line-height: normal;
  margin-bottom: 8px;
}
.new-big div p {
  color: #fff;
  font-family: "DM Sans";
  font-size: 14.115px;
  font-style: normal;
  font-weight: 425;
  line-height: normal;
  width: 570px;
}
.new-big div {
  position: absolute;
  bottom: 17px;
  left: 57px;
}
.new-big img {
  max-width: none;
}
.new-small {
  display: flex;
  align-items: center;
  gap: 22.2px;
}
.new-small div h6 {
  color: rgba(38, 38, 38, 0.6);
  font-family: "DM Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 100.9%; /* 10.09px */
  margin-bottom: 4px;
}
.new-small div h4 {
  color: #262626;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 325;
  line-height: 20px; /* 111.111% */
  margin-bottom: 26px;
}
.new-small div p {
  color: #696868;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 123.9%; /* 14.868px */
}

/* SWIPER FOR SPEECH */
.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-content {
  padding: 56px 111px 56px 0;
  background-color: #fff;
}
.swiper-content h1 {
  color: var(--Foundation-Primary-primary-500, #0e842c);
  -webkit-text-stroke-width: 0.20000000298023224;
  -webkit-text-stroke-color: var(--Foundation-Primary-primary-500, #0e842c);
  font-family: Paris2024-Variable;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 118.75% */
  text-align: center;
  margin-bottom: 22px;
}
.slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slide img {
  width: 560px;
  height: 557px;
  border-radius: 0 20px 20px 0;
}
.swiper-pagination-bullet-active {
  background: #0e842c !important;
}
.slide-texts {
  width: 607px;
}
.slide-texts h2 {
  color: var(--Foundation-Nuetral-nuetral-900, #373940);
  font-family: Paris2024-Variable;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 175% */
  margin-bottom: 10px;
}
.slide-texts h3 {
  color: var(--Foundation-Primary-primary-500, #0e842c);
  -webkit-text-stroke-width: 0.20000000298023224;
  -webkit-text-stroke-color: var(--Foundation-Primary-primary-500, #0e842c);
  font-family: Paris2024-Variable;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 158.333% */
}
.slide-texts h4 {
  color: var(--Foundation-Primary-primary-500, #0e842c);
  -webkit-text-stroke-width: 0.20000000298023224;
  -webkit-text-stroke-color: var(--Foundation-Primary-primary-500, #0e842c);
  font-family: Paris2024-Variable;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 190% */
}

.latest-vid {
  padding: 56px 100px 65px;
  background: #f2f2f2;
  position: relative;
}

.latest-vid h2 {
  display: flex;
  gap: 6px;
  align-items: center;
  color: var(--Black, #3e3232);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Paris2024-Variable;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  /* margin-bottom: 31px; */
  position: absolute;
  top: 56px;
}

.latest-vid h2 span {
  width: 4px;
  height: 10px;
  border-radius: 12px;
  background: var(--Primary, #f81539);
}

.questions {
  padding: 56px 100px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  background: #f6f6f6;
}
.questions h1 {
  color: #262626;
  -webkit-text-stroke-width: 0.20000000298023224;
  -webkit-text-stroke-color: #000;
  font-family: Paris2024-Variable;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 118.75% */
}
.reg-men {
  display: flex;
  align-items: center;
  gap: 24px;
}

.accordion-container {
  border-radius: 16px;
  background: var(--Neutral-100, #fff);

  /* Cards/Short Default */
  box-shadow: 0px 5px 16px 0px rgba(8, 15, 52, 0.06);
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  padding: 40px 20px;
  cursor: pointer;
}

.question {
  color: var(--Foundation-Primary-primary-500, #0e842c);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Paris2024-Variable;
  font-size: 20px;
  font-style: normal;
  font-weight: 350;
  line-height: 28px; /* 140% */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-button {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;

  /* Cards/Short Default */
  box-shadow: 0px 5px 16px 0px rgba(8, 15, 52, 0.06);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  cursor: pointer;
}
.close-btn {
  background: var(--Neutral-100, #fff);
  color: #0e842c;
}
.open-btn {
  background-color: #0e842c;
  color: white;
}
.answer.open {
  max-height: 200px; /* Adjust as needed */
}

.answer p {
  color: var(--Neutral-600, #6f6c90);
  font-feature-settings: "liga" off, "clig" off;
padding-top: 10px;
  /* Paragraph/Default */
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  width: 100%;
}

.news-swipe1 {
  /* width: 100%; */
  position: relative;
}
.news-swipe2{
  display: flex !important;
  flex-direction: column !important;
  gap: 24px !important;
}
.news-swipe1-img {
  width: 100%;
  width: 558px;
height: 444px;
object-fit: cover;
  border-radius: 18px;
}
.playyyy{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.news-swipe-text {
  border-radius: 12px;
  background: var(--White-75, rgba(255, 255, 255, 0.75));
  backdrop-filter: blur(5px);
  padding: 16px;
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
}
.news-swipe-text h1 {
  overflow: hidden;
  color: var(--Dark, #000);
  font-feature-settings: "liga" off, "clig" off;
  text-overflow: ellipsis;
  white-space: nowrap;

  /* H4 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.news-swipe-text p {
  overflow: hidden;
  color: var(--Dark-75, rgba(0, 0, 0, 0.75));
  text-overflow: ellipsis;
  white-space: nowrap;

  /* Paragraph */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.25px;
  text-transform: capitalize;
}

.small-slide-text h3{
  overflow: hidden;
color: var(--Black, #3E3232);
font-feature-settings: 'liga' off, 'clig' off;
text-overflow: ellipsis;
white-space: nowrap;
width: 100%;
padding: 16px 16px 16px 6px;
/* H5 */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;

width: 257px;
}
.small-slide-text p{
  overflow: hidden;
color: var(--Black-75, rgba(62, 50, 50, 0.75));
text-overflow: ellipsis;
white-space: nowrap;
padding: 0px 16px 16px 6px;
/* Paragraph */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.25px;
text-transform: capitalize;
width: 247px;

}
.small-box-slide{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 12px;
background: #FFF;

/* Shadow */
box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.07);
}
.small-box-slide img{
  width: 100%;
  height: 100%;
}
.slide-pc {
  display: block !important;
}
.slide-tab,
.slide-mob {
  display: none !important;
}
.newSwiper{
  padding-top: 60px !important;
}


.swiper-button-prev, .swiper-button-next{
  top: 20px !important;
}

.swiper-button-prev:after, .swiper-button-next:after{
  font-size: 12px !important;
  color: var(--Black, #3E3232);
text-align: center;
font-style: normal;
font-weight: 900;
line-height: normal;
padding: 8px;
background-color: red;
width: 40px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
height: 30px;
border-radius: 12px;
background: var(--Black-5, rgba(62, 50, 50, 0.05));
}
.swiper-button-prev{
  right: 50px !important;
  left: auto !important;
}



@media screen and (max-width: 1290px) {
  .slide-texts {
    width: 550px;
  }
  .new-big img {
    width: 100%;
  }
  .new-small {
    width: 470px;
  }
  .slide-pc{
    display: none;
  }
  .hero-wrap, .hero-section{
    height: 704px;
  }
  .hero-section h1{
    font-size: 96px;
  }
  .small-slide-text p, .small-slide-text h3{
    width: 200px;
  }
  .swiper-content{
    padding: 56px 70px 56px 0;
  }
  .slide-texts h4{
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  
  .links {
    display: none;
  }
  .hero-section h1 {
    font-size: 52px;
    line-height: 50px;
    margin-top: 18px;
  }
  .national-p {
    margin-top: 12px;
    font-size: 24px;
  }
  .ipinle {
    margin-top: 24px;
    width: 60%;
  }
  .hero-img {
    width: 150px;
  }
  .hero-wrap{
    height: 600px;
  }
  .hero-section {
    padding: 40px 0 62px 0;
    height: 600px;
    justify-content: start;
  }
  .swiper-content {
    padding: 42px 42px 42px 0;
  }
  .quest-wrap {
    gap: 32px;
  }
  .latest-vid h2{
    top: 42px;
  }
  .slide {
    gap: 24px;
  }
  .slide img {
    width: 350px;
    height: 100%;
  }
  .slide-texts h2 {
    font-size: 14px;
    line-height: 30px;
  }
  .slide-texts h3 {
    font-size: 18px;
  }
  .slide-texts h4 {
    font-size: 16px;
  }
  .featured {
    padding: 42px;
  }
  .new-wrap {
    flex-direction: column;
  }
  .new-wrap-right {
    padding: 42px;
  }
  .new-wrap {
    padding: 32px 42px 32px 0;
  }
  .new-small {
    width: 100%;
  }
  .partner-grid .grid-seven,
  .partner-grid .grid-five,
  .partner-grid .grid-three,
  .partner-grid .grid-six,
  .partner-grid .grid-four {
    gap: 18px;
  }
  .latest-vid {
    padding: 42px 42px 55px;
  }
  .whats-new h1,
  .questions {
    padding: 42px;
  }
  .menu {
    display: flex;
  }
    .slide-pc {
    display: none !important;
  }
  .slide-tab {
    display: block !important;
  }
    .partner-grid-item p{
    width: 80px;
  }
    .small-slide-text p, .small-slide-text h3{
    width: 130px;
  }
}

@media screen and (max-width: 600px) {
  .slidee {
    flex-direction: column;
  }
  .slidee-text {
    width: 100% !important;
  }
  .slidee-text h2 {
    width: 350px !important;
  }
  .navbar {
    padding: 10px 24px;
  }
  .register {
    display: none;
  }
  .slide {
    flex-direction: column;
    gap: 24px;
  }

  .quest-wrap {
    gap: 24px;
  }
  .slide-texts {
    width: 100%;
    padding: 0 24px;
  }
  .new-wrap {
    padding: 0;
  }
  .new-small {
    flex-direction: column;
    align-items: stretch;
  }
  .new-wrap-right,
  .questions {
    padding: 42px 24px;
  }
  .swiper-content h1 {
    font-size: 28px;
  }
  .sport-grid {
    grid-template-columns: 1fr;
  }
  .featured {
    padding: 42px 24px;
    gap: 24px;
  }
  .athe {
    flex-direction: column-reverse !important;
  }
  .partner-grid .grid-seven,
  .partner-grid .grid-five,
  .partner-grid .grid-three,
  .partner-grid .grid-six,
  .partner-grid .grid-four {
    gap: 18px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
  }
  .partner-top h1 {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
  .new-big div p {
    width: 100%;
    font-size: 12px;
  }
  .new-big div h2 {
    font-size: 22px;
  }

  /* HERO */
  .hero-wrap {
    /* display: none; */
    width: 100%;
    height: 500px;
  }
  .hero-wrap video {
    object-fit: cover;
  }
  .hero-img {
    width: 130px;
  }
  .small-slide-text h3, .small-slide-text p{
    width: 100px;
  }
  .question {
    font-size: 14px;
    gap: 12px;
    line-height: 20px;
  }
  .accordion-container {
    padding: 20px;
  }
  .answer p {
    font-size: 12px;
    line-height: 20px;
  }
   .slide-pc,
  .slide-tab {
    display: none !important;
  }
  .slide-mob {
    display: block !important;
  }
}
