.partners {
  background-color: #fff;
  padding: 56px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
  justify-content: center;
}
.partner-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.partner-top h1 {
  color: #262626;
  -webkit-text-stroke-width: 0.20000000298023224;
  -webkit-text-stroke-color: #000;
  font-family: Paris2024-Variable;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 118.75% */
}
.partner-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-top: 40px;
}
.partner-grid .grid-seven {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(7, 1fr);
}
.partner-grid .grid-six {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(6, 1fr);
}
.partner-grid .grid-five {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(5, 1fr);
}
.partner-grid .grid-four {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
}
.partner-grid .grid-three {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}
.partner-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.partner-grid-item img {
}
.partner-grid-item p {
  color: #475569;
  text-align: center;
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.14px;
  width: 100px;
}
.partner-grid-mob {
  display: none;
}

@media screen and (max-width: 600px) {
  .p-grid {
    display: none;
  }
   .partner-grid-mob {
        display: flex;
    justify-content: center;
    align-items: center;
  }
  .p-grid-mob{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }
}
